/*
CSS Code
*/

h1{
    color: white;
    background-color: #36454F;
    text-align: center;
}
h2{
    background-color: #F5F5F5;
}

header{
    text-align: center;
}

summary{
    font-style: normal;
}

details{
    font-style: italic;
}
